.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.column:first-child {
  flex-basis: 75%;
}

.column:nth-child(2) {
  flex-basis: 25%;
  margin-left: 2rem;
}

.bundle__box,
.price__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
}

.bundle__box .details {
  margin-left: 1.5rem;
}

.details h4 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.bundle__box img {
  width: 215px;
  height: 270px;
  object-fit: cover;
  border-radius: 6px;
}

.price__box {
  flex-direction: column;
  padding: 3.75rem 2rem;
}

.price__box p {
  font-weight: 500;
  font-size: 1.3rem;
}

.price__box button {
  border: 1px solid #05867e;
  background-color: #05867e;
  padding: 0.7rem 2rem;
  border-radius: 6px;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.price__box button:hover {
  background-color: #379e98;
}

.desc__box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.desc__box .title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.desc {
  background-color: white;
  border-radius: 6px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 5px solid #05867e;
}

.desc p {
  padding: 1rem 2rem;
}

@media only screen and (max-width: 769px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .column:nth-child(2) {
    margin-left: 0;
    width: 100%;
  }

  .price__box {
    padding: 1rem;
    margin-top: 1rem;
  }

  .details h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .desc__box .title {
    padding-left: 0;
  }

  .desc {
    padding: 0;
  }
}

@media only screen and (max-width: 576px) {
  .bundle__box {
    flex-direction: column;
  }

  .bundle__box img {
    width: 100%;
  }

  .details h4 {
    margin-top: 1rem;
  }

  .desc p {
    padding: 1rem;
  }
}
