* {
  margin: 0;
  padding: 0;
}

section {
  margin: auto;
  padding-top: 4rem;
  width: 80%;
}

.bundles {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.img__box,
.button__box {
  padding: 1.5rem;
}

.img__box {
  flex-basis: 17%;
}

.img__box img {
  width: 160px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
  text-transform: uppercase;
}

.details {
  flex-basis: 60%;
  padding: 2rem 0;
}

.desc {
  margin-bottom: 1rem;
  color: #333333;
}

.link {
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  z-index: 5;
  width: fit-content;
}

.link:hover {
  color: white;
}

.link::before {
  content: "";
  position: absolute;
  width: 101%;
  height: 3px;
  background-color: #05867e;
  transition: 0.3s;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.link:hover::before {
  height: 120%;
  bottom: -3px;
}

.button__box {
  flex-basis: 23%;
  text-align: center;
}

.button__box p {
  color: #05867e;
  font-size: 1.3rem;
  font-weight: 600;
}

.button__box button {
  border: 1px solid #05867e;
  background-color: #05867e;
  padding: 0.5rem 1.7rem;
  border-radius: 6px;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.button__box button:hover {
  background-color: #379e98;
}

@media only screen and (max-width: 769px) {
  section {
    width: 90%;
  }

  .title {
    font-size: 1.3rem;
  }

  .desc {
    font-size: 0.9rem;
  }

  .button__box p {
    font-size: 1.1rem;
  }

  .button__box button {
    padding: 0.5rem 1.4rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 577px) {
  .bundles {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .details {
    padding: 1rem;
  }
}
